$background-gray: #232323;
$accent-back-gray: #505050;
$accent-front-gray: #aaaaaa;

$accent-back-green: #25533b;

$background-blue: #281e24;
$accent-back-blue: #2163a1;
$accent-front-blue: #74c0ec;

$background-red: #1e1e28;
$accent-back-red: #940a4f;
$accent-front-red: #f97bba;

body,
.themeDefault {
  --background-color: #{$background-gray};
  --accent-color-front: #{$accent-front-gray};
  --accent-color-back: #{$accent-back-gray};
  --text-color: #ffffff; 
}
.themeGreen {
  --background-color: #{$background-gray};
  --accent-color-front: #{$accent-front-gray};
  --accent-color-back: #{$accent-back-green};
  --text-color: #ffffff; 
}
.themeBlue {
  --background-color: #{$background-blue};
  --accent-color-front: #{$accent-front-blue};
  --accent-color-back: #{$accent-back-blue};
  --text-color: #ffffff; 
}
.themeRed {
  --background-color: #{$background-red};
  --accent-color-front: #{$accent-front-red};
  --accent-color-back: #{$accent-back-red};
  --text-color: #ffffff; 
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);

  font-family: monospace;
  line-height: 1.4;
  font-size: 1.6rem;
  overflow-wrap: break-word;

  max-width: 75ch;
  min-height: 100%;
  margin: auto;
}

.linemenu {
  div {
    display: inline-block;
  }
}

.decorative-ascii {
  color: var(--accent-color-back);
  overflow: hidden;
  white-space: nowrap;
}

h1,
h2,
h3 {
  color: var(--text-color);
  a {
    color: var(--text-color);
  }
}

p, h3, h4, h5 {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.7em;
  font-size: 2em;
  background-color: var(--accent-color-back);
  font-weight: bolder;
}

.date {
  font-weight: bold;
}

h2 {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  font-size: 1em;
  background-color: var(--accent-color-back);
  font-weight: bolder;
}

h3 {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  margin-left: 1ch;
  font-size: 1em;
  background-color: var(--accent-color-back);
  font-weight: normal;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

figure {
  text-align: center;
  margin: 1.4em 1ch 1.4em 1ch;

  img {
    display: inline-block;
  }

  figcaption {
    font-style: italic;
    text-align: left;
  }
}

// custom figure classes
.small-figure {
  max-width: 40vh;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.pixelart {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
	/* IE, only works on <img> tags */
	-ms-interpolation-mode: nearest-neighbor;
	/* firefox */
	image-rendering: crisp-edges;
	/* other browsers and spec */
	image-rendering: pixelated;
}
//

.sideBySide {
  display: flex;
}

.emoji {
  display: inline-block;
  width: 2ch;
}

a {
  text-decoration: none;
  color: var(--accent-color-front);
}

ul {
  li::before {
    content: "  > ";
  }
  padding-inline-start: 0ch;
  list-style: none;
  margin: 1.4em 0 1.4em 1ch;
}
ol {
  padding-inline-start: 0ch;
  margin: 0 0 0 4ch;
}

.table-of-contents {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.artwork {
  max-width: 100%;
  max-height: 100%;
}

.gallery {
  margin: 0;
  li {
    vertical-align: top;
    display: inline-block;
    width: 100%;
  }
  @media screen and (min-width: 46em) {
    margin: 1.4em 0 1.4em 1ch;
    li {
      width: 36ch;
    }
  }
}

.thumbnail {
  width: 100%;
}

.cv-portrait {
  width: 12ch;
  float: right;
  padding: 0em 1ch 0em 1ch;
}

.comment {
  border-width: 0em 0ch 0em 1ch;
  border-style: double;
  border-color: var(--accent-color-back);
  min-height: 4.2em;
  .comment-avatar {
    padding: 0em 0ch 0em 1ch;
    float: left;
    width: 6ch;
    height: 4.2em;
    object-fit: contain;
  }
  .comment-text {
    overflow: auto;
    padding: 0em 0ch 0em 1ch;
    margin: 0;
    p {
      margin-top: 0em;
    }
  }
}

blockquote {
  border-style: double;
  border-width: 0em 0ch 0em 1ch;
  padding: 0em 1ch 0em 1ch;
  font-style: italic;
}

code {
  white-space: pre-wrap;
}

thead {
  text-align: left;
}

table {
  border-spacing: 0;
}
td {
  padding: 0em 1ch 0em 0ch;
}
th {
  padding: 0em 1ch 0em 1ch;
}