{% extends "page.html" %}

{% block content %}

<h1>{{ page.title }}{% if page.year %} ({{ page.year }}){% endif %}</h1>
{% if page.date %}<p class="date">{{ page.date }}</p>{% endif %}
{% if page.updated %}<p class="date">Updated: {{ page.updated }}</p>{% endif %}
<nav>{% include "include/series.html" %}</nav>
<nav>{% include "include/tags.html" %}</nav>

{% include "include/language.html" %}
{% if page.extra.tableOfContents %}
  <nav>{% include "tableOfContents/h1.html" %}</nav>
{% endif %}

{% include "include/divider.html" %}

{% block page %}
{{ page.content | safe }}
{% endblock %}

{% endblock content %}