{% set series = page | get(key="taxonomies", default=[]) | get(key="series", default=[]) | sort -%}
{% set seriescount = series | length %}

{% if seriescount > 0 %}
  <nav>
    {% for term in series %}
      {% set seriespages = (get_taxonomy_term(kind="series", term=term) | get(key="pages", default=[])) %}
      
      {% set url = get_taxonomy_url(kind="series", name=term) %}
      Series: <a href="{{ url }}">{{ term }}</a> -

      {% for seriespage in seriespages | sort(attribute="date") %}
        {% if page.path == seriespage.path %}[{% endif %}<a href="{{ seriespage.path }}">{{ loop.index }}</a>{% if page.path == seriespage.path %}]{% endif %}
      {% endfor %}
    {% endfor %}
  </nav>
{% endif %}