{% set last = section.pages | last %}
{% set first = section.pages | first %}

<nav class="linemenu">
  {% set seriespages = section.pages %}
  {%- for seriespage in seriespages | sort(attribute="date") -%}
    <div>
      {%- if page.path == seriespage.path -%}[{%- else -%}&nbsp;{%- endif -%}
      <a href="{{ seriespage.path }}">{{ loop.index }}</a>
      {%- if page.path == seriespage.path -%}]{%- else -%}&nbsp;{%- endif -%}
    </div>
  {%- endfor -%}
</nav>

<nav class="linemenu">
  {% if page.higher %}
    <div>
      <a href="{{ last.permalink }}">&lt;&lt;</a>
    </div>
  {% else %}
    <div>&nbsp;&nbsp;</div>
  {% endif %}

  {% if page.higher %}
    <div>
      <a href="{{ page.higher.permalink }}">&lt;</a>
    </div>
  {% else %}
    <div>&nbsp;</div>
  {% endif %}

  {% if page.lower %}
    <div>
      <a href="{{ page.lower.permalink }}">&gt;</a>
    </div>
  {% else %}
    <div>&nbsp;</div>
  {% endif %}

  {% if page.lower %}
    <div>
      <a href="{{ first.permalink }}">&gt;&gt;</a>
    </div>
  {% else %}
    <div>&nbsp;&nbsp;</div>
  {% endif %}
</nav>