{% if alttext %}
  {% set imageAlt = alttext %}
{% else %}
  {% set imageAlt = description %}
{% endif %}

{% if img %}
  {% set document = page | default(value=section) %}
  {% set imgLinkUrl = document.path ~ img %}
  {% set imgUrl = document.colocated_path ~ img %}
  {# Ensure the leading slash is handled correctly #}
  {% if imgLinkUrl is starting_with("/") %}
    {% set imgLinkUrl = imgLinkUrl | trim_start_matches(pat="/") %}
  {% endif %}
{% else %}
  {% set imgUrl = imgAbsolute %}
  {% set imgLinkUrl = imgAbsolute %}
{% endif %}

{% if useOriginalSize %}
  {% set imgRenderUrl = config.base_url ~ imgUrl %}
{% else %}
  {% set imgRender = resize_image(path=imgUrl, width=800, height=600, op="fit") %}
  {% set imgRenderUrl = imgRender.url %}
{% endif %}

<figure {% if class %}class="{{ class }}"{% endif %}>
  {% if not useOriginalSize %}
  <a href="{{config.base_url ~ imgLinkUrl}}" class="hide-print-link">
  {% endif %}
    <img src="{{ imgRenderUrl }}" alt="{{ imageAlt }}">
  {% if not useOriginalSize %}
  </a>
  {% endif %}
  <figcaption>
    {% if description %}{{ description | safe }}{% endif %}
    {% if creditsLink %}<a class="hide-print-link" href="{{ creditsLink }}">{% endif %}
    {% if credits %}Kuva: {{ credits }}{% endif %}
    {% if creditsLink %}</a>{% endif %}
  </figcaption>
</figure>
