{% set menu = config.extra.menu_items -%}

{% if page %}
  {% set sectionName = page.ancestors | last %}
  {% set section = get_section(path=sectionName) %}
  {% set language = page | get(key="taxonomies", default=[]) | get(key="Language", default=["en-US"]) | sort | first -%}
{% else %}
  {% set language = "en-US" %}
{% endif %}

{% if section and section.extra.theme %}
  {% set theme = config.extra.themes | filter(attribute="name", value=section.extra.theme) | first %}
{% else %}
  {% set theme = config.extra.themes | filter(attribute="name", value="themeDefault") | first %}
{% endif %}

<!DOCTYPE html>
<!--    #############    -->
<!--    #           #    -->
<!--    #######     #    -->
<!--    #     #     #    -->
<!--    # #   #     #    -->
<!--    #     #     #    -->
<!--    #######     #    -->
<!--    #           #    -->
<!--    ##########  #    -->
<!--    #  #  #  #  #    -->
<!--    #############    -->

<!-- Möllikkä Stuff 2005-12-04 -->
<html lang="{{language}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block metadata %} {% endblock %}
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/syntax-light.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" type="text/css" href="/syntax-dark.css" media="(prefers-color-scheme: light), print" />  
    <link rel="stylesheet" href="/print.css" media="print">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ theme | get(key='favicon') | safe }}">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ theme | get(key='color_light') | safe }}">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ theme | get(key='color_dark') | safe }}">
  </head>

  <body class="{{ theme | get(key='name') | safe }}">
    <header>
      <nav class="themeDefault linemenu">
        <div><a href="../">&lt;&lt;</a></div>
        {% for link in menu %}<div>/&nbsp;<a
          {% if link.theme %}class="{{ link.theme }}"{% else %}class="themeDefault"{% endif %}
          href="{{ link.url }}"
          >{{ link.name }}</a>&nbsp;/</div>{% endfor %}
      </nav>
      <div aria-hidden="true" class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
      <div aria-hidden="true" class="decorative-ascii">
        ////////////////////////////////////////////////////////////////////////////////
      </div>
    </header>
    <section>{% block content %} {% endblock %}</section>
    <footer id="bottom">
      <div aria-hidden="true" class="decorative-ascii">
        ////////////////////////////////////////////////////////////////////////////////
      </div>
      <div aria-hidden="true" class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
    </footer>
  </body>
</html>
