{% set menu = config.extra.menu_items -%}

{% if page %}
  {% set sectionName = page.ancestors | last %}
  {% set section = get_section(path=sectionName) %}
{% endif %}

{% if section and section.extra.theme %}
  {% set theme = section.extra.theme %}
{% else %}
  {% set theme = "themeGreen" %}
{% endif %}

<!DOCTYPE html>
<!--    #############    -->
<!--    #           #    -->
<!--    #######     #    -->
<!--    #     #     #    -->
<!--    # #   #     #    -->
<!--    #     #     #    -->
<!--    #######     #    -->
<!--    #           #    -->
<!--    ##########  #    -->
<!--    #  #  #  #  #    -->
<!--    #############    -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block metadata %} {% endblock %}
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/favicon-{{ theme }}.ico">
    {% if theme == "themeGreen" %}
      <meta name="theme-color" media="(prefers-color-scheme: light)" content="#25533b">
      <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#232323">
    {% endif %}
    {% if theme == "themeBlue" %}
      <meta name="theme-color" media="(prefers-color-scheme: light)" content="#2163a1">
      <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#281e24">
    {% endif %}
    {% if theme == "themeRed" %}
      <meta name="theme-color" media="(prefers-color-scheme: light)" content="#940a4f">
      <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1e1e28">
    {% endif %}

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
      integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
      crossorigin="anonymous">
    </script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/mathtex-script-type.min.js"
      integrity="sha384-LJ2FmexL77rmGm6SIpxq7y+XA6bkLzGZEgCywzKOZG/ws4va9fUVu2neMjvc3zdv"
      crossorigin="anonymous">
    </script>
    
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
      integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);">
    </script>
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
      integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y"
      crossorigin="anonymous"
    />
  </head>

  <body
    {% if section.extra.theme %}
      class="{{ section.extra.theme }}"
    {% else %}
      class="themeDefault"
    {% endif %}
  >
    <header>
      <nav class="themeDefault mainmenu">
        <div><a href="../">&lt;&lt;</a></div>
        {% for link in menu %}<div>/&nbsp;<a
            {% if link.theme %}
              class="{{ link.theme }}"
            {% else %}
              class="themeDefault"
            {% endif %}
            href="{{ link.url }}"
            >{{ link.name }}</a>&nbsp;/</div>{% endfor %}
      </nav>
      <div aria-hidden="true" class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
      <div aria-hidden="true" class="decorative-ascii">
        ////////////////////////////////////////////////////////////////////////////////
      </div>
    </header>
    <section>{% block content %} {% endblock %}</section>
    <footer id="bottom">
      <div aria-hidden="true" class="decorative-ascii">
        ////////////////////////////////////////////////////////////////////////////////
      </div>
      <div aria-hidden="true" class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
    </footer>
  </body>
</html>
