{% if page %}
  {% set sectionName = page.ancestors | last %}
  {% set section = get_section(path=sectionName) %}
{% endif %}

{% if section and section.extra.theme %}
  {% set theme = config.extra.themes | filter(attribute="name", value=section.extra.theme) | first %}
{% else %}
  {% set theme = config.extra.themes | filter(attribute="name", value="themeDefault") | first %}
{% endif %}

{% if page is defined %}
  {% set translations = page.translations | sort(attribute="lang") %}
{% elif section is defined %}
  {% set translations = section.translations | sort(attribute="lang") %}
{% else %}
  {% set translations = [] %}
{% endif %}

<!DOCTYPE html>
<!--    #############    -->
<!--    #           #    -->
<!--    #######     #    -->
<!--    #     #     #    -->
<!--    # #   #     #    -->
<!--    #     #     #    -->
<!--    #######     #    -->
<!--    #           #    -->
<!--    ##########  #    -->
<!--    #  #  #  #  #    -->
<!--    #############    -->

<!-- Möllikkä Stuff 2005-12-04 -->
<html lang="{{config.extra.lang_locale[lang]}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block metadata %} {% endblock %}
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/print.css" media="print">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ theme | get(key='favicon') | safe }}">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ theme | get(key='color_light') | safe }}">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ theme | get(key='color_dark') | safe }}">
  </head>

  <body class="{{ theme | get(key='name') | safe }}">
    <header>
      <nav class="themeDefault linemenu">
        <div><a href="../">&lt;&lt;</a></div>
        {% if lang == config.default_language %}
          {% set mainSection = get_section(path="_index.md") %}
        {% else %}
          {% set mainSection = get_section(path="_index." ~ lang ~ ".md") %}
        {% endif %}

        <div>/&nbsp;<a href="{{ mainSection.permalink }}" {% if mainSection.extra.theme %}class="{{ mainSection.extra.theme }}"{% else %}class="themeDefault"{% endif %}>{{ mainSection.extra.menutitle }}</a>&nbsp;/</div>
        {%- for subs in mainSection.subsections -%}
          {%- set s = get_section(path=subs) -%}
          {%- if s.extra.menutitle -%}
            <div>/&nbsp;<a href="{{ s.permalink }}" {% if s.extra.theme %}class="{{ s.extra.theme }}"{% else %}class="themeDefault"{% endif %}>{{ s.extra.menutitle }}</a>&nbsp;/</div>
          {%- endif -%}
        {%- endfor -%}
      </nav>
                                    
      <div aria-hidden="true" class="divider-backslash"></div>

      <div class="divider-slash">
        {%- if translations | length > 1 -%}
          {%- for translation in translations -%}
            <a href="{{ translation.permalink }}">
              {{ config.extra.lang_names[translation.lang] }}
            </a>
            {% if loop.last %}&nbsp;{% else %}&nbsp;|&nbsp;{% endif %}
          {% endfor %}
        {%- endif -%}
      </div>
      
    </header>
    <section>{% block content %} {% endblock %}</section>
    <footer id="bottom">
      <div aria-hidden="true" class="divider-slash"></div>
      <div aria-hidden="true" class="divider-backslash"></div>
    </footer>
  </body>
</html>
