{% extends "base.html" %} 

{% block metadata %}
<title>{{ section.title }}</title>
<meta name="description" content="{{ section.description }}">
{% endblock %}

{% block content %} 
<h1>{{ section.title }}</h1>
{{ section.content | safe }} 

{% set featured = get_taxonomy_term(kind="tags", term="featured") %}

<h2><a href="/tags/featured">Featured</a></h2>
<ul class="gallery">
  {% for page in featured.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">
      {{ page.title }} ({{ page.year }}) 
      {% for asset in page.assets %} 
        {%- if asset is matching(page.extra.image) -%}
          {% set image = resize_image(path=asset, width=400, height=400) %}
          <img class="thumbnail" src="{{ image.url }}">
        {% endif %}
      {% endfor %}
    </a>
  </li>
  {% endfor %}
</ul>



{% endblock %}