{% extends "base.html" %}

{% block metadata %}
<title>{{ config.author }} - {{ page.title }}{% if page.year %} ({{page.year}}){% endif %}</title>
<meta name="description" content="{{ page.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ current_url | safe }}">
<meta property="og:title" content="{{ config.author }} - {{ page.title }}{% if page.year %} ({{page.year}}){% endif %}">
<meta property="og:description" content="{{ page.description }}">
{% if page.extra.image %}
    {% set share_preview = resize_image(path=page.colocated_path ~ page.extra.image, width=1200, height=630, op='fill', format='jpg') %}
    <meta property="og:image" content="{{ share_preview.url | safe }}">
{% endif %}
{% endblock %}

{% block content %} 
<h1>{{ page.title | safe }}</h1>
{{ page.content | safe }} 
{% endblock content %}

