{% extends "section.html" %} 

{% block content %}
<h1>{{ section.title }}</h1>

{% if section.extra.featured_tags %}
  <nav class="linemenu">
    {% for tag in section.extra.featured_tags %}
      {% set url = get_taxonomy_url(kind="tags", name=tag) %}
      <div>\&nbsp;<a href="{{ url }}">#{{ tag }}</a>&nbsp;\</div>
    {% endfor %}
  </nav>
{% endif %}

{{ section.content | safe }}

{% include "include/divider.html" %}

{% for page in section.pages %} 
  <article>
    <a href="{{ page.permalink | safe }}">
    <h2>
      {{ page.title }} ({{ page.date }})  {% include "include/language.html" %}
    </h2>
    </a>
    {% if page.extra.image %}
      <a href="{{ page.permalink | safe }}" class="hide-print-link">
        {% set img_preview = resize_image(path=page.colocated_path ~ page.extra.image, width=800, height=400, op="fill") %}
        <img src="{{ img_preview.url }}" alt="{{ page.description }}">
      </a>
    {% endif %}
    <p>{{page.description}}</p>
  </article>
  {% if not loop.last %}
    {% include "include/divider.html" %}
  {% endif %}
{% endfor %}

{% endblock content %}
