{% extends "section.html" %}

{% block content %}
<h1>{{ section.title }}</h1>
{% if section.extra.tableOfContents %}
<nav>{% include "tableOfContents/subsection.html" %}</nav>
{% endif %}

{{ section.content | safe }}

{% for ss in section.subsections %} {% set subsection = get_section(path=ss) %}
<h2 id="subsection-{{ subsection.components | last | safe }}">
  <a href="{{ subsection.permalink }}"
    >{{ subsection.components | last | capitalize | safe }}</a
  >
</h2>

{% set posts = subsection.pages | slice(end=2) %}
{% include "include/posts/gallery.html" %}

{% endfor %}

{% endblock content %}
